.services-page {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

/* HERO */
.services-hero {
  text-align: center;
  margin-bottom: 50px;
}

.services-hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--gold);
}

.services-hero p {
  color: #555;
  margin-top: 10px;
}

/* MAIN SERVICES */
.services-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin-bottom: 60px;
}

.service-box {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  text-align: center;
  transition: 0.2s ease;
}

.service-box:hover {
  transform: translateY(-5px);
  border: 1px solid var(--gold);
}

.service-box span.material-symbols-outlined {
  font-size: 40px;
  margin-bottom: 10px;
}
.service-box h3{
    font-size: 20px;
    font-weight: 800;
}
.service-box p{
    color: #555;
}

.price {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 8px;
  display: block;
}

/* ADD-ONS */
.addons-section {
  margin-top: 30px;
}

.addons-section h2 {
  margin-bottom: 20px;
  text-align: center;
}

.addons-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.addon-box {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  border: 1px solid white;
}

/* CTA */
.services-cta {
  text-align: center;
  margin-top: 60px;
}

.book-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 28px;
  background: var(--gold);
  color: black;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  transition: .2s ease;
}

.book-btn:hover{
    color: #f7f7f7;
    border: 1px solid white;
}

.book-btn:active{
    background-color: #555;
    color: black;
}



@media (max-width: 900px) {
  .services-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .addons-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-list,
  .addons-list {
    grid-template-columns: 1fr;
  }

  .services-hero h1 {
    font-size: 2rem;
  }
}
